@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Dark_Blue: rgb(37, 45, 55);
    --Dark_Blur_Blue: rgba(37, 45, 55, 0.6);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
    --font-family: 'Overpass', sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 15px;
    background-color: var(--Very_Dark_Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

img {
    height: 100%;
    width: 100%;
}

.container {
    background-color: var(--Very_Dark_Blue);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--Dark_Blue);
    width: 404px;
    padding: 30px;
    border-radius: 25px;
}

.card-header {
    border: 1px solid black;
    padding: 15px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin: 0 0 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: none;
}

.card-header.hidden, .card-body.hidden, .card-footer.hidden {
    display: none;
}

.card-body .text > h1 {
    font-family: var(--font-family);
    font-size: 27px;
    color: var(--White);
    margin: 13px 0 10px;
}
.card-body .text > p {
    font-family: var(--font-family);
    color: var(--Light_Grey);
   font-size: 15px;
   line-height: 1.55;
   margin: 0 0 25px;
}

.card-body .numbers {
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px;
    font-family: var(--font-family);
}

.card-body .numbers > .btn {
    border-radius: 50%;
    padding: 10px;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    color: var(--Light_Grey);
    font-weight: bold;
    cursor: pointer;
    backdrop-filter: blur(8px);
    border: none;
}

.card-body .numbers > .btn:hover {
    background-color: var(--Medium_Grey);
    color: var(--White);
}

.card-body .numbers > .btn:focus {
    background-color: var(--Orange);
    color: var(--White);
}

.card-footer .submit-btn, .thank-you-footer-btn .submit-btn {
    background-color: var(--Orange);
    width: 100%;
    padding: 10px 7px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-family: var(--font-family);
    color: var(--White);
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}

.card-footer .submit-btn.hidden {
    display: none;
}

.card-footer .submit-btn:hover, .thank-you-footer-btn .submit-btn:hover {
    background-color: var(--White);
    color: var(--Orange);
    transform: scale(0.98);
} 


/* THANK YOU PAGE */

.thank-you-body {
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.thank-you-body .image {
    margin: 0 auto;
    width: 50%;
    padding: 0 0 10px;
    margin-bottom: 15px;
}

.thank-you-body .rating-text {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 58%;
    background-color: rgba(225, 225, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 7px 17px;
    color: var(--Orange);
    border-radius: 20px;
    text-align: center;
}


.thank-you-footer {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.thank-you-footer h3 {
    font-size: 1.7rem;
    color: var(--White);
    margin-bottom: 10px;
    font-weight: 450;
}

.thank-you-footer p {
    font-size: 0.9rem;
    color: var(--Light_Grey);
    line-height: 1.5;
}

.thank-you-body.hidden, .thank-you-footer.hidden, .thank-you-footer-btn.hidden {
    display: none;
}